<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite"  parallel="tests"  >
<listeners>
<listener class-name="QAacademy.Listeners"/>
<listener class-name="QAacademy.RetryListener"/>
</listeners>
	<test name="ValidatingTitle of the page">
		<classes>
			<class name="QAacademy.ValidationTitle" />
		</classes>
	</test>
	<test name="validating Loginpage">
		<classes>
			<class name="QAacademy.ValidationTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
